{% extends 'base.html.twig' %}

{% block main %}

    <h2 class="text-center mt-2">Gérer les utilisateurs</h2>
    <div class="row justify-content-center">
        <div class="col">
            <table class="table table-bordered table-striped mt-2" >
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody >
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.nom }}
                        </td>
                        <td>
                            {{ user.prenom }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <div class="row text-center">

                                <div class="col-6">
                                    <a class=" " title="Modifier l'utilisateur" href="#{#{{ path('site_modif', {'id' : site.id }) }}#}">
                                        <ion-icon name="create"></ion-icon>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a title="Supprimer cet utilisateur" href="{{ path('delete_user', {'id' : user.id }) }}">
                                        <ion-icon name="trash"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>
        <div class="text-center">
            <a class="btn btn-outline-success" type="button" href="{{ path('app_register')}}">Ajouter un utilisateur</a>
            <a class="btn btn-outline-warning" type="button" href="{{ path('main')}}">Retour</a>
        </div>


{% endblock %}

{% block title %}

{% endblock %}

