{% extends 'base.html.twig' %}

{% block title %}Hello CreationSortieController!{% endblock %}

{% block body %}
    <h2 class="text-center mt-2">Création une Sortie</h2>
    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formSortie) }}
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(formSortie.nom) }}
                {{ form_widget(formSortie.nom) }}
            </div>

            <div class="form-group col-md-6">
                                <label for="site" >Ville organisatrice</label>
                                <input type="text" value="{{ app.user.site}}"  id="site" class="form-control" readonly>
            </div>

            <div class="form-group col-md-6">
                {{ form_label(formSortie.dateDebut) }}
                {{ form_widget(formSortie.dateDebut) }}
                {{ form_label(formSortie.dateCloture) }}
                {{ form_widget(formSortie.dateCloture) }}
                {{ form_label(formSortie.nbInscription) }}
                {{ form_widget(formSortie.nbInscription) }}
                {{ form_label(formSortie.duree) }}
                {{ form_widget(formSortie.duree) }}
                {{ form_label(formSortie.description) }}
                {{ form_widget(formSortie.description) }}
            </div>

            <div class="form-group col-md-6">
                <label>Ville :</label>
                <select class="custom-select" id="villes">
                    {% for ville in villes %}
                        <option value="{{ ville.id }}">{{ ville.nomVille }}</option>
                    {% endfor %}
                </select>
                {{ form_label(formSortie.lieu) }}
                <select class="custom-select" name="lieux" id="lieux">

                </select>

                <label for="lieu">Rue :</label>
                <select class="custom-select">

                </select>
                <label for="code_postal">Code postal :</label>
                <input type="text" value="" name="code_postal" id="code_postal" class="form-control">
                <label for="latitude">Latitude :</label>
                <input type="text" value="" name="latitude" id="latitude" class="form-control">
                <label for="longitude">Longitude :</label>
                <input type="text" value="" name="longitude" id="longitude" class="form-control">
            </div>

        </div>
    </div>



    <div class="text-center mt-3">
        <input type="submit" value="Créer" class="btn btn-dark"/>
        <input type="submit" value="Annuler" class="btn btn-dark"/>
    </div>
    {{ form_end(formSortie) }}



{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $('#villes').change(function () {
                $('#lieux').empty();
                $.get('/ajax/' + $(this).val())
                    .done(function (data) {
                        $.each(data, function (key, lieu) {
                            $('#lieux').append('<option value="' + lieu.id + '">' + lieu.nom_lieu + '</option>')
                        });
                    });
            });
        </script>
    {% endblock %}