{% extends 'base.html.twig' %}

{% block title %}Hello CreationSortieController!{% endblock %}

{% block body %}
    <h1>Création une Sortie</h1>
    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                {{ form_label(formSortie.nom) }}
                {{ form_widget(formSortie.nom, {'attr' : {'class' : 'form-control '}}) }}
            </div>

        <div class="col-sm-5 offset-sm-2">
        {{  form_label(formSortie.lieux_no_lieu) }}
            {{ form_widget(formSortie.lieux_no_lieu, {'attr' : {'class' : 'form-control '}}) }}
    </div>
            <div class="col-sm-5">
                {{ form_label(formSortie.nbinscription) }}
                {{ form_widget(formSortie.nbinscription, {'attr' : {'class' : 'form-control '}}) }}
            </div>
            <div class="col-sm-5 offset-sm-2">
                {{ form_label(formSortie.datedebut) }}
                {{ form_widget(formSortie.datedebut) }}
            </div>
            <div class="col-sm-5 ">
                {{ form_label(formSortie.datecloture) }}
                {{ form_widget(formSortie.datecloture) }}
            </div>
            <div class="col-sm-5 offset-sm-2">
                {{ form_label(formSortie.nbinscription) }}
                {{ form_widget(formSortie.nbinscription, {'attr' : {'class' : 'form-control '}}) }}
            </div>
            <div class="col-sm-5 ">
                {{ form_label(formSortie.duree) }}
                {{ form_widget(formSortie.duree, {'attr' : {'class' : 'form-control '}}) }}
            </div>
            <div class="col-sm-5 offset-sm-2">
                {{ form_label(formSortie.description) }}
                {{ form_widget(formSortie.description, {'attr' : {'class' : 'form-control '}}) }}
            </div>
            {{ form_row(formSortie.lieux_no_lieu) }}
        </div>
    </div>
    <div class="text-center">
        <input type="submit" value="Créer" class="btn btn-dark"/>
        <input type="submit" value="Annuler" class="btn btn-dark"/>
    </div>

{% endblock %}
