{% extends 'base.html.twig' %}

{% block title %}Hello CreationSortieController!{% endblock %}

{% block body %}
    <h2 class="text-center mt-2">Création une Sortie</h2>
    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formSortie) }}
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(formSortie.nom) }}
                {{ form_widget(formSortie.nom) }}
            </div>

            <div class="form-group col-md-6">
                <label for="site" >Ville organisatrice</label>
                <input type="text" value="{{ app.user.site}}"  id="site" class="form-control" readonly>
            </div>

            <div class="form-group col-md-6">
                {{ form_label(formSortie.dateDebut) }}
                {{ form_widget(formSortie.dateDebut) }}
                {{ form_label(formSortie.dateCloture) }}
                {{ form_widget(formSortie.dateCloture) }}
                {{ form_label(formSortie.nbInscription) }}
                {{ form_widget(formSortie.nbInscription) }}
                {{ form_label(formSortie.duree) }}
                {{ form_widget(formSortie.duree) }}
                {{ form_label(formSortie.description) }}
                {{ form_widget(formSortie.description) }}
            </div>

            <div class="form-group col-md-6">
                <label>Ville :</label>
                <select class="custom-select" id="villes">
                    <option>-------</option>
                    {% for ville in villes %}
                        <option value="{{ ville.id }}">{{ ville.nomVille }}</option>
                    {% endfor %}
                </select>
                {{ form_label(formSortie.lieu) }}
                <select class="custom-select" name="creation_sortie[lieu]" id="creation_sortie_lieu">

                </select>

                <label for="maRue" >Rue :</label>
                <div id="maRue">
                    <input type="text" id="maRue" class="form-control" readonly>
                </div>

                <label for="code_postal">Code postal :</label>
                <div id="monCP">
                    <input type="text" id="code_postal" class="form-control" readonly>
                </div>

                <label for="latitude">Latitude :</label>
                <div id="maLati">
                    <input type="text" id="latitude" class="form-control" readonly>
                </div>

                <label for="longitude">Longitude :</label>
                <div id="maLongi">
                    <input type="text" id="longitude" class="form-control" readonly>
                </div>

{#                <input type="text" value="" name="code_postal" id="code_postal" class="form-control">#}
{#                <label for="latitude">Latitude :</label>#}
{#                <input type="text" value="" name="latitude" id="latitude" class="form-control">#}
{#                <label for="longitude">Longitude :</label>#}
{#                <input type="text" value="" name="longitude" id="longitude" class="form-control">#}
            </div>

        </div>
    </div>

    <div class="text-center mt-3">
        <input type="submit"  value="Créer" class="btn btn-outline-success"/>
        <a class="btn btn-outline-danger"  href="{{ path('main')}}">Annuler</a>
    </div>

    {{ form_row(formSortie._token) }}
    {{ form_end(formSortie, {'render_rest': false}) }}



{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $('#villes').change(function () {
                $('#creation_sortie_lieu').empty();
                $('#creation_sortie_lieu').append('<option>-------</option>')
                $.get('/ajax/' + $(this).val())
                    .done(function (data) {
                        $.each(data, function (key, lieu) {
                            $('#creation_sortie_lieu').append('<option value="' + lieu.id + '">' + lieu.nom_lieu + '</option>')
                        });
                    });
            });


            $('#creation_sortie_lieu').change(function () {
                $.ajax({
                    method: "GET",
                    url: "http://sortir.local/ajax2/" + $(this).val(),
                    success: function(data){
                        //afficher
                        console.log(data);
                        $('#maRue').empty();
                        var lieu = data.lieu;
                        $('#maRue').append('<input type="text" class="form-control" name="rue" id="rue" value="' + data.rue + '" readonly>')
                    }
                });

            });

            $('#creation_sortie_lieu').change(function () {
                $.ajax({
                    method: "GET",
                    url: "http://sortir.local/ajax3/" + $(this).val(),
                    success: function(data){
                        //afficher
                        console.log(data);
                        $('#monCP').empty();
                        var ville = data.ville;
                        $('#monCP').append('<input type="text" class="form-control" name="codePostal" id="codePostal" value="' + data.cp + '" readonly>')
                    }
                });

            });

            $('#creation_sortie_lieu').change(function () {
                $.ajax({
                    method: "GET",
                    url: "http://sortir.local/ajax2/" + $(this).val(),
                    success: function(data){
                        //afficher
                        console.log(data);
                        $('#maLati').empty();
                        var lieu = data.lieu;
                        $('#maLati').append('<input type="text" class="form-control" name="latitude" id="latitude" value="' + data.maLati + '" readonly>')
                    }
                });

            });

            $('#creation_sortie_lieu').change(function () {
                $.ajax({
                    method: "GET",
                    url: "http://sortir.local/ajax2/" + $(this).val(),
                    success: function(data){
                        //afficher
                        console.log(data);
                        $('#maLongi').empty();
                        var lieu = data.lieu;
                        $('#maLongi').append('<input type="text" class="form-control" name="longitude" id="longitude" value="' + data.maLongi + '" readonly>')
                    }
                });

            });

        </script>
    {% endblock %}