{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <h2 class="text-center mt-2">Register</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.telephone) }}
            {{ form_row(registrationForm.password) }}
            {{ form_row(registrationForm.site) }}
            {{ form_row(registrationForm.actif) }}
            <div class="justify-content-center">
                <button class="btn btn-outline-success" type="submit">Register</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>


{% endblock %}