{% extends 'base.html.twig' %}

{% block main %}

    <h2 class="text-center py-3">Gérer les sites</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <table class="table table-bordered table-striped" >
                <tbody >
                    {% for site in sites %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="font-weight-bold col-9">
                                        {{ site.nomSite }}
                                    </div>
                                    <div class="row col-3">
                                        <div class="col-6">
                                            <a class=" " title="Modifier le site" href="{{ path('site_update', {'id' : site.id }) }}">
                                                <ion-icon size="large" name="create"></ion-icon>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            {% if is_granted('ROLE_ADMIN') and site.sorties|length == 0 %}
                                                <a  title="Supprimer le site" href="{{ path('site_supp', {'id' : site.id }) }}">
                                                    <ion-icon size="large" name="trash"></ion-icon>
                                                </a>
                                            {% else %}
                                                <span  title="Supprimer le site" >
                                                    <ion-icon size="large" name="trash"></ion-icon>
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                {% include('inc/pagination.html.twig') %}
            </div>
            <table class="table table-bordered table-striped" >
                <tbody >
                    {% form_theme siteForm 'bootstrap_4_layout.html.twig' %}

                    {{ form_start(siteForm) }}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-3 mt-2">
                                    {{ form_label(siteForm.nom_site) }}
                                </div>
                               <div class="col-md-6 mt-2">
                                    {{ form_widget((siteForm.nom_site)) }}
                               </div>
                                <div class="col-md-3 mt-2">
                                    <div class="text-center">
                                    <button class="btn btn-outline-success" type="submit">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{ form_end(siteForm) }}
                </tbody>
            </table>
        </div>
        <span class="mt-5" title="Supprimer la ville" >
        * <ion-icon  name="trash"></ion-icon>
        Vous ne pouvez pas supprimer le site s'il y a des utilisateurs rattachés à celui-ci !
    </span>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

