{% extends 'base.html.twig' %}

{% block main %}

    <h2 class="text-center mt-2">Gérer les sites</h2>
    <table class="table">
        <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.nomSite }}</td>
                    <td>
                        <a type="button" class="close red delete-item"  title="Supprimer le site" href="{{ path('site_supp', {'id' : site.id }) }}">
                           <span aria-hidden="true">&times;</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% form_theme siteForm 'bootstrap_4_layout.html.twig' %}

            {{ form_start(siteForm) }}
            <tr>
               <td>
                   {{ form_label(siteForm.nom_site) }}
                   {{ form_widget((siteForm.nom_site)) }}
               </td>
            </tr>
        <tr>
            <td>
                <button type="submit">Ajouter</button>
            </td>
        </tr>
            {{ form_end(siteForm) }}

        </tbody>

    </table>

{% endblock %}

{% block title %}

{% endblock %}

