{% extends 'base.html.twig' %}

{% block main %}

    <div class="row justify-content-center">
        <div class="col" id="table">
            <table class="table table-bordered table-striped"  >
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Durée de la sortie</th>
                    <th scope="col">Description</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Lieu</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ sortie.nom }}</td>
                        <td> {{ sortie.dateDebut|date('d/m/Y') }}</td>
                        <td> {{ sortie.duree }} minutes</td>
                        <td> {{sortie.description |  nl2br}}</td>
                        <td> {{ sortie.organisateur.prenom }}</td>
                        <td> {{ sortie.lieu.nomLieu }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

