{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <h2 class="text-center mt-2">Mon profil</h2>
    <div >
        <form action="{{ path('mon_profil_update', {id: user.id}) }}" method="post">
            <div class="text-center">
            <img src="#" alt="ma photo" class="img-thumbnail">
            </div>
            <div class="form-group">
                <label for="pseudo" class="sr-only">Pseudo</label>
                <input type="text" value="{{ app.user.pseudo }}" name="pseudo" id="pseudo" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="prenom" class="sr-only">Prénom</label>
                <input type="text" value="{{ app.user.prenom }}" name="prenom" id="prenom" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="nom" class="sr-only">Nom</label>
                <input type="text" value="{{ app.user.nom }}" name="nom" id="nom" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="telephone" class="sr-only">telephone</label>
                <input type="text" value="{{ app.user.telephone }}" name="telephone" id="telephone" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="text" value="{{ app.user.email }}" name="email" id="email" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="site" class="sr-only">Ville de rattachement</label>
                <input type="text" value="{{ app.user.site }}" name="site" id="site" class="form-control" readonly>
            </div>
            <button class="btn btn-outline-success" type="submit">Modifier</button>
            <a class="btn btn-outline-danger" type="button" href="{{ path('main')}}">Annuler</a>
        </form>
    </div>




{% endblock %}