{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <h2 class="text-center mt-2">Mon profil</h2>
    {% form_theme formMonProfil 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formMonProfil) }}
    {{ form_row(formMonProfil.pseudo) }}
    {{ form_row(formMonProfil.prenom) }}
    {{ form_row(formMonProfil.nom) }}
    {{ form_row(formMonProfil.telephone) }}
    {{ form_row(formMonProfil.password) }}
    {{ form_row(formMonProfil.site, { 'attr': {'readonly': 'readonly'} }) }}
    {{ form_row(formMonProfil.fileTemp) }}
    <button class="btn btn-outline-success" type="submit">Enegistrer</button>
    <a class="btn btn-outline-danger" type="button" href="{{ path('main')}}">Annuler</a>

    {{ form_end(formMonProfil) }}


{% endblock %}