{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <h2 class="text-center mt-2">Mon profil</h2>
    {% form_theme formMonProfil 'bootstrap_4_layout.html.twig' %}
    {{ form_start(formMonProfil) }}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.pseudo) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.email) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.prenom) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.nom) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.telephone) }}
        </div>
        <div class="form-group col-md-6">
            <label for="site" >Ville de rattachement</label>
            <input type="text" value="{{ formMonProfil.vars.value.site }}" name="site" id="site" class="form-control" readonly>
        </div>

        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.password) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(formMonProfil.fileTemp) }}
        </div>
    </div>
        <div class="text-center">
        <button class="btn btn-outline-success" type="submit">Enegistrer</button>
        <a class="btn btn-outline-danger" type="button" href="{{ path('mon_profil')}}">Annuler</a>
        </div>

    {{ form_end(formMonProfil) }}


{% endblock %}