{% extends 'base.html.twig' %}


{% block body %}
    <h2 class="text-center mt-2">Annuler une Sortie</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8 ">
            <p class="font-weight-bolder pt-2">Sortie : {{ sortie.nom }}</p>
            {% form_theme formAnnulation 'bootstrap_4_layout.html.twig' %}
            {{ form_start(formAnnulation) }}
                <div class="form-group">
                    {{ form_label(formAnnulation.motifAnnulation) }}
                    {{ form_widget(formAnnulation.motifAnnulation) }}
                </div>
            {{ form_end(formAnnulation) }}

        </div>
    </div>
    <div class="text-center mt-3">
        <input type="submit"  value="Annuler" class="btn btn-outline-success"/>
        <a class="btn btn-outline-danger"  href="{{ path('sortie_list')}}">Retour</a>
    </div>

{% endblock %}