<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('styles/projetStyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{asset('images/icons8-chemin-50.png')}}"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>

<body class="container">
    <header >
        <h1 class="text-center font-weight-bolder my-0" ><a href="{{ path('main') }}" ><img alt="'logo" src={{ asset('images/icons8-chemin-96.png') }}></a>SORTIR.COM</h1>
        <nav class="navbar navbar-expand-lg navbar-light my-0">
            <a class="navbar-brand" href="#">Bienvenue {{ app.user.username }} !</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">VILLES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SITES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MON PROFIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">S'INSCRIRE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">SE CONNECTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">SE DECONNECTER</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <main>
        {# Gestion de l'affichage des messages flashs #}
        {% if app.request.hasPreviousSession %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block main %}{% endblock %}

    </main>

    <footer class="text-center fixed-bottom mb-5">
        <p>©sortir.com {{"now" | date('Y')}}</p>
    </footer>


</body>

</html>
