{% extends 'base.html.twig' %}

{% block main %}

    <h2 class="text-center mt-2">Gérer les villes</h2>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <table class="table table-bordered table-striped" >
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>
                        <div class="row">
                            <div class="font-weight-bold col-5">
                                {{ ville.nomville }}
                            </div>
                            <div class="font-weight-bold col-4">
                                {{ ville.codePostal }}
                            </div>
                            <div class="row col-3">
                                <div class="col-6">
                                    <a class=" " title="Supprimer le site" href="#{#{{ path('site_modif', {'id' : site.id }) }}#}">
                                        <ion-icon name="create"></ion-icon>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a class=" " title="Supprimer le site" href="{{ path('ville_supp', {'id' : ville.id }) }}">
                                        <ion-icon name="trash"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% form_theme villeForm 'bootstrap_4_layout.html.twig' %}

            {{ form_start(villeForm) }}
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-5 mt-2">
                                {{ form_label(villeForm.nom_ville) }}
                                {{ form_widget((villeForm.nom_ville)) }}
                            </div>
                            <div class="col-md-4 mt-2">
                                 {{ form_label(villeForm.code_postal) }}
                                 {{ form_widget((villeForm.code_postal)) }}
                            </div>
                            <div class="col-md-3 pt-4">
                                <div class="text-center">
                                    <button class="btn btn-outline-success" type="submit">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {{ form_end(villeForm) }}

            </tbody>

        </table>

{% endblock %}

{% block title %}

{% endblock %}

